
* {
    margin: 0;
    padding: 0;
}

body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
header {
            background-color: #ff8fab;
            color: #000000b9;
            padding: 1em;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 100%;
           
        }
nav {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
nav a {
            color: #000000b9;
            margin: 0 10px;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
nav a:hover {
            background-color: #6f1d1b;
            color: #ffe6a7;
        }

section {
    padding: 20px 40px;
}


ul > li {
    list-style: none;
}

#about {
            background-color:rgb(0, 0, 0); /* black background*/
            color: #ff8fab;
            font-weight: 900;
        }
h2 {
            text-align: center;
            margin-bottom: 10px;
        }
        
.about-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 20px;
            border-radius: 10px;
            justify-content: center;
        }
        
.about-content > div {
            margin: 10px;
        }
        
.about-content div > img {
            max-width: 100%;
            height: auto;
        }
        
.about-content div > p {
            
            margin: 0 20px 20px 0;
            font-size: 1rem;
            line-height: 1.5;
            text-align: center;
        }


#goals {
    background-color: #0d1b2a;
    color: #fff;
}

.goals-div {
    margin: 15px;
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}

.goals-div li {
    margin-top: 20px;
    
}

#contact {
    background-color: #656d4a;
}

.contact-div {
    display: flex;
    justify-content: space-around;
}

.contact-links p {
    font-size: 24px;
    font-weight: 900;
}
.contact-links li, .contact-info p {
    font-size: 25px;
    margin-top: 15px;
}
.contact-links li >  a {
    color: #000000b9;
    margin: 0 10px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-links li > a:hover {
    background-color: #5e0b15;
    color: #ffe6a7;
}

footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em 0;
        }

        .footer-content ul.socials {
            list-style: none;
            padding: 0;
        }
        
        .footer-content ul.socials li {
            display: inline;
            margin: 0 10px;
        }
        
        .footer-content ul.socials li a {
            color: #ffffff; /* White text for links */
            text-decoration: none;
            font-weight: bold;
        }
        
        .footer-bottom {
            background-color: #ff8fab; /* Dark red */
            padding: 10px 0;
            color: #000000b9;
        }
        
        .footer-bottom p {
            margin: 0;
        }
    